  {% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href=""><img src="{% static 'myfile/images/facebook.png' %}" style="width:100px;height:50px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'App_post:homepage' %}">Home <span class="sr-only">(current)</span></a>
      </li> &nbsp; &nbsp;  &nbsp; &nbsp;
      <form class="form-inline" action="" method="get">
        <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </ul>
      <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
              <li class="nav-item dropdown">

                  {% if user.user_profile.profile_pic %}
                      <a class="nav-link " href="" id="navbarDropdown" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false"><img
                              src="{{ user.user_profile.profile_pic.url }}" class="rounded-circle" width="40px"
                              height="40px" class="rounded-circle" alt="img not Found"> </a>
                  {% else %}
                      <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false"><img src="/media/default_pic.png"
                                                                                  class="rounded-circle" width="75px"
                                                                                  height="75px" alt="img not Found">
                      </a>
                  {% endif %}
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="nav-link" href="{% url 'userApp:Logout' %}">Logout</a>
                      <a class="nav-link" href="{% url 'userApp:profile' %}">Profile View</a>
                  </div>
              </li>


          {% else %}
            <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                      Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="nav-link" href="{% url 'userApp:login' %}">Login</a>
                       <a class="nav-link" href="{% url 'userApp:sing_up' %}">SignUp</a>

                  </div>
              </li>

          {% endif %}
      </ul>
  </div>
  </nav>